header{
    position:relative;
    z-index: 100; /*양수일수록 맨위*/
    display: block;
    height:auto;
    padding:0;
}

header .top-area{
    width:100%;
    height:40px;
    background-color: black;
    color:#C9C9C9;
}

header .top-area .nav{
    display: flex;
    justify-content: right;
    align-items: center;
    height:100%;
    color:#C9C9C9;
}

header .top-area .nav a{
    margin-right:20px;
    text-decoration: none;
    font-size:12px;
}

header .gnb-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    height:70px;
    border-bottom: 1px solid #f5f5f5;
}

header .gnb-wrap .inner{
    margin:0px 20px;
}

header .gnb-wrap .aside{
    padding-left:80px;
    float:right;
}

header .gnb-wrap .aside .shop{
    display: flex;
    align-items: center;
    justify-content: right;
    margin:0px 20px;
}

header .gnb-wrap .aside .shop a{
    margin-left:20px;
}